* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background: #fff;
}

ul {
    display: flex;
    padding-top: 20px;
}

.container-fluid {
    display: flex;
}

.ul_li {
    margin: 0 15px;
    justify-content: space-around;
}

.li_a {
    font-size: 18px;
    color: #000;
    text-decoration: none;
}
.li_a:hover {
    color: #009FDF;
    border-bottom: solid #009FDF 2px;
    text-decoration: none;
}
.ul_button{
    color: #fff;
    background: #009FDF;
    border-radius: 5px;
    padding: 3px 15px;
    border: none;
    font-size: 20px;
}
.ul_button:hover{
    color: #009FDF;
    background: #fff;
    border-radius: 5px;
    padding: 3px 15px;
    border: none;
    font-size: 20px;
    border-right: solid #009FDF;
    border-left: solid #009FDF;
    transition: 1s;
}
.nav_img{
    width: 100%;
    height: 15%;
}
.endaument{
    max-width: 1600px;
    width: 100%;
    height: 250px;
    background: url(../img/111.png) no-repeat center center / cover;
    padding: 45px 0;
}
.endaument_h1{
    color: #fff;
    font-size: 45px;
    margin:  0 150px;
    font-weight: 700;
}
.endaument_h2{
    color: #fff;
    font-size: 35px;
    margin:  0 150px;
    font-weight: 700;
}
.linya{
    height: 2px;
    width: 1000px;
    background: #E2EAEE; 
    margin: 65px auto;
}
.box{
    padding: 30px 40px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 135px;
}
.li_a_2 {
    font-size: 20px;
    color: #000;
    text-decoration: none;
}

.li_a_2:hover {
    color: #009FDF;
    text-decoration: none;
}
.li_a_2s {
    font-size: 20px;
    color: #000;
    text-decoration: none;
    text-align: center;
}

.li_a_2s:hover {
    color: #009FDF;
    text-decoration: none;
    text-align: center;
}
.link{
    width: 300px;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px #E2EAEE solid;
    padding: 0 27px;
}
.link:hover{
    width: 300px;
    display: flex;
    justify-content: space-between;
    box-shadow: #009FDF 0px 3px 0px 0px;
    height: 70px;
    padding: 0 27px;
}
.link2{
    width: 370px;
    display: flex;
    text-align: center;
    padding: 0 65px;
    border-bottom: 3px #E2EAEE solid;
}
.link2:hover{
    width: 370px;
    display: flex;
    box-shadow: #009FDF 0px 3px 0px 0px;
    height: 70px;
    padding: 0 65px;
}
.link3{
    width: 470px;
    display: flex;
    border-bottom: 3px #E2EAEE solid;
    padding: 0 39px;
}
.link3:hover{
    width: 470px;
    display: flex;
    box-shadow: #009FDF 0px 3px 0px 0px;
    height: 70px;
    padding: 0 39px;
}
.boloo{
    padding-top: 90px;
    width: 1000px;
    padding-left: 250px;
}
.sec_boxx{
    padding: 150px 430px;
}
.booloo_h1{
    font-size: 28px;
}
.booloo_img{
    margin: 50px;
}
.sssa{
    width: 100%;
    font-size: 19px;
}
.h1_span{
    color: red;
font-size: 20px;
}
footer{
    background: #eeeeee;
    max-width: 1300px;
    width: 100%;
    margin: 50px auto;
    height: 350px;
}
.misis_img{
    margin-top: 90px;
    margin-left: 35px;
}
.misis_img2{
    margin-top: 30px;
    margin-left: 35px;
}
.manzil{
    margin: 85px 0;
}
.manzil_p{
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}
.manzil_p2{
    font-size: 19px;
    margin: 0 auto;
}
.material_p{
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}
.material_p2{
    font-size: 16px;
    margin: 0 auto;
}
.material{
    margin: 85px 0;
}
.aloqa{
    margin: 85px 0;
}
.aloqa_p{
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}
.aloqa_p2{
    font-size: 16px;
    margin: 0 auto;
    text-decoration: none;
}
.aloqa_p3{
    font-size: 16px;
    margin: 0 auto;
    text-decoration: none;
    color: #000;
}
.aloqa_p3:hover{
    font-size: 16px;
    margin: 0 auto;
    color: #009FDF;
    text-decoration: none;
}